<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
            img{
            text-align:center ;
            margin-left: 45%;
            height: 35px;
            margin-top: 20px;
        }
        #signin{
            display: grid;
            grid-template-columns: repeat(1);
            width: 80%;
            margin: auto;
            border-radius: 10px;
           

        }
        #up{
            width: 32%;
            margin-top: 20px;
            height: 400px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 10px;
            margin: auto;
        }
        label{
            padding-top: 20px;
        }
        input{
            height: 30px;
        }
        button{
            background-color: rgb(242,201,98);
            text-align: center;
            height: 35px;
            border-radius: 3px;
            margin-top: 20px;
        }
        p{
            color: rgb(58, 47, 38);
            font-size: 13px;
            padding-top: 10px;
        }
        p1{
            color: rgb(51, 62, 163);
            font-size: 14px;
        }
        #down{
            margin: auto;
            display: grid;
            grid-template-columns: repeat(1);
            width: 32%;
            margin-top: 20px;
        }
        #button2{

            background-color: rgb(236,237,240);
            height: 35px;
            border-radius: 3px;
        }
        p3{
            text-align: center;
            font-size: 14px;
            color: rgb(116, 116, 116);
        }

    </style>
</head>
<body>
    <div >
        
        <div id="up">
            <div id="signin">
                <h1>Sign-In</h1>
                <label>Email or mobile phone number</label>
                <input id="email" type="text">
                <label>Password</label>
                <input id="password" type="text">
                <button>Continue</button>
                <p>By continuing, you agree to Amazon's Conditions of Use and Privacy Notice.</p>
                <br>
                <p1>Need help?</p1>
            </div>
        </div>
        <div id="down">
            <p3>New to this website?</p3>
            <button id="button2">Create Your  Account</button>
         </div>
        
    </div>
    
</body>
</html>
<script>
  
</script>