#Navigation {
    width: 100%;
    height: 200px;

}

#N-cat {
    margin-top: 10px;
    border: 1px solid lightgrey;   
    width: 100%;
    height: 40px;
    display: flex;
    
}

#H-search {
    
     
    height: 55%;
  margin-bottom: -1%;
    display: flex;
   
}

#H-search > img {
    margin-top: 2.8%;
    margin-left: 1%;
    width: 12%;
}

#body {
    margin: 0;
    font-family:Helvetica, Helvetica, Arial, sans-serif;
    background-color: white;
    color: #696c70;
}

#H-searchbar {
    width: 72%; 
    margin-top: 38px;
    /* margin-bottom: 2%; */
    height: 33%;
    margin-left: 1%;
    display: flex;
    justify-content: center;
     background-color: #f9fafb; 
     border: 1px solid rgb(93, 92, 92);
     border-radius: 4px;
}

#searchbox {
    width: 100%;
    
    border: none;
    background-color: #f9fafb;
   
   
}
#search-Icon {
    width: 3.3%;
    margin-left: 0px;
    height: 100%;

}

#H-last-A > p{
    font-size: 80%;
    height: 10px;
    color: #2f3337;
    line-height: 1;
    margin-top: -10%;
    
}
#H-last-A > img {
    margin-left: 80%;
}

#H-last-A {
    width: 30%;
    margin-left: 15%;
}

#H-last-H  > p{
    font-size: 80%;
    height: 10px;
    color: #2f3337;
     line-height: 1;  
    margin-top: -10%;
}
 
 #H-last-H {
    width: 25%;
  
     padding-left: 10%;
     margin-left: 0;
     margin-right: 0;
 }

 #H-last {
     position: relative;
     cursor: pointer;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     width:10%;
     height: 40%;
     margin-top: 2.5%;
     grid-gap : 20px;
     margin-left: 1%;
 }
 #H-last-C {
     position: relative;
   
    margin-left: 4%;
    width: 18%;
 }
 #H-last-C >img {
  
     width: 30px;
 }

 #H-last-C > p {
     position: relative;
   
    font-size: 80%;
    height: 10px;
    color: #2f3337;
     line-height: 1; 
    margin-top: -10%;
 }
 #c-last{
     position: absolute;
     top: 1px;
     background-color: white;
   
     left: 10px;
     width: 13px;
     height: 15.5px;
 }
 #p-last{
    position: absolute;
    top: 0px;
    text-align: center;
    left: 7px;
    font: bolder;
    color: red;
    width: 10px;
  font-size: 15px;
    padding-bottom: 50px;
    font-weight: 700;
    height: 13px;
}


/* -------N Cat -----------*/

#N-cat-1 {
    
   /* display: flex;
  justify-content: space-between;
   margin-top: -15px; */
   display: flex;
   align-items: center;
   padding: 7px 5px;
   
   color: #2f3337;
   border-bottom: 2px solid transparent;
   font-size: 14px;
   font-weight: 500;
   margin-left: 3%;
  
}

#N-cat-1 > h4 {
    margin-left: 30px;
    font-display: 20px;
    padding-bottom: 3px;
    margin-top: 2.5%;
   font-weight: 560;
   color: darkslategray;
   font-size: 13px;
}

#N-cat-2 {
    display: flex;
   align-items: center;
   padding: 7px 5px;
   color: #2f3337;
   border-bottom: 2px solid transparent;
   font-size: 14px;
   font-weight: 500;
   margin-left: 3%;
   border-left: 1px solid lightslategray;
   
}

#N-cat-2 > h4:nth-child(2) {
    color: red;
    
}
#N-cat-2 > h4 {
    margin-left: 40px;

}
#N-cat-1 > h4:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}
#N-cat-2 > h4:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

/* ----------------Navigation completed--------------- */

#H-refresh {
    width: 97%;
    margin-top: 0%;
    margin: auto;
    height: 550px;
    margin: auto;
    display: flex;  
    
    
}

#Footer {
 
    height: 480px;
    width: 100%;
    display: block;
}

#Foot-Menu {
    
    display: flex;
    height: 380px;
     background-color: #535658; 
     justify-content: space-evenly;
}

#Foot-last {
    height: 100px;
    background-color:#2f3337;
}
#Foot-Menu-1{
    
    width: 20%;
    height: 100%;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 30px;
    
}
#Foot-Menu-2{
    
    width: 20%;
    height: 100%;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 30px;
}
#Foot-Menu-3{
    
    width: 20%;
    height: 100%;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 30px;
}
#Foot-Menu-4{
    
    width: 20%;
    height: 100%;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 30px;
}


#Foot-Menu-1 > p:nth-child(1n){
    font-size: 12px;
    color: #fff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 2;
    font-weight: 430;
}
/* #Foot-Menu-1 > p:nth-child(2){
    font-size: 10px;
    color: #fff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
} */

.F-M-Head {
    font-size: 15px;
}
#Foot-Menu-2 > p:nth-child(1n){
    font-size: 12px;
    color: #fff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 2;
    font-weight: 430;
}
#Foot-Menu-3 > p:nth-child(1n){
    font-size: 12px;
    color: #fff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 2;
    font-weight: 430;
}
#Foot-Menu-4 > p:nth-child(1n){
    font-size: 12px;
    color: #fff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 2;
    font-weight: 430;
}

#Foot-last {
    margin-top: -0.8%;
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

#Foot-last-2 {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 25px;
}



#Foot-last-1 {
    margin-top: 25px;
    margin-left: 100px;
}



/* ------------------------OVerstock features brand---------------------- */

#FB {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 95%;
    height: 480px;
    text-align: center;
    grid-gap:18px;
    margin: auto;
}

/* ---------------------Trending Searches------------------------- */

#Ts {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap : 20px;
    width: 96%;
    margin: auto;
}

#Ts > div {
    
    background-color: #f5f6f7;
    height: 60px;
    width: 100%;
}

#Ts > div > h4 {

    text-align: center;
    color: #535658;
}

#Ts > div :hover{
    cursor: pointer;
}

.Heads {
    text-align: center; 
    color: #2f3337;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 700;
}

/* ------------------------- Midstyles------------------------*/

#Midstyles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 95%;
    margin: auto;
    grid-gap: 20px;
    margin-top: 30px;
}

/* ---------------------------FreshFinds--------------------- */

#FreshFinds {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin: auto;
    width: 88%;
    height: 600px;
    grid-gap: 10px;
}

#FreshFinds > div > p {
    font-size: 16px;
    text-align: center;
    color: darkslategray;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* -------------------------Bright---------------------- */

#Bright{
    margin-left: 50px; 
    align-content: center;
    margin-top: 200px;
    
}

/* ------------------------Fresh Furniture----------------------- */

#Fresh_fun{
    display: grid;
    grid-template-columns: repeat(6,1fr); 
    width: 95%;
    height: 200px;
    margin-bottom: 100px;
    grid-gap: 10px;
    margin: auto;
}

.LTD {
    background-color: oldlace;

}

/* --------------------------------Menu Drop Down---------------------- */


.dropbtn {
    background-color: transparent;
    color: darkslategray;
    padding: 16px;
    /* font-size: 20px; */
    border: none;
  }
  

  .dropdown {
    position: relative;
    display: inline-block;

  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 1000px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: -26px;
  }
  

  .dropdown-content a {
    color: darkslategray;
     padding: 12px 10px; 
    text-decoration: none;
    display: block;
    margin-left: 30px;
   
  }
  
  
  .dropdown-content a:hover {
      text-decoration: underline;
      
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: grid;
      grid-template-columns: repeat(4,1fr);
     
    }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
   .dropdown:hover .dropbtn {
       /* background-color: #3e8e41; */
     
       text-decoration: underline;
    } 

    .dropdown-content > div > img {
        margin-right: 20px;
    }

    