<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Overstock</title>
    <link rel="stylesheet" href="./Landing.css" />
  </head>

  <body id="body">
    <div id="container">
      <div id="Navigation"></div>
      <!-- ------------Navigation completed ------->
      <div id="H-refresh">
        <img src="H-refresh.png" alt="" />
      </div>

      <!-- --------------------Fresh-furniture-------------------- -->
      <h2 class="Heads">Limited-Time Deals</h2>

      <div id="Fresh_fun">
        <div>
          <div class="LTD">
            <img
              src="https://ak1.ostkcdn.com/img/mxc/01172022_HB_INTL_1.svg?imwidth=3840"
              alt=""
              width="100%"
            />
     
          </div>
          <h5>Select Rugs</h5>
        </div>
        <div>
          <div class="LTD">
            <img
              src="https://ak1.ostkcdn.com/img/mxc/01102022_HB_INTL_2.svg?imwidth=3840"
              alt=""
              width="100%"
            />
          </div>
          <h5>Select Living Room Furniture</h5>
        </div>

        <div>
          <div class="LTD">
            <img
              src="https://ak1.ostkcdn.com/img/mxc/01102022_HB_INTL_3.svg?imwidth=3840"
              alt=""
              width="100%"
            />
          </div>
          <h5>Select Dining Room Furniture</h5>
        </div>
        <div>
          <div class="LTD">
            <img
              src="https://ak1.ostkcdn.com/img/mxc/01102022_HB_INTL_4.svg?imwidth=3840"
              alt=""
              width="100%"
            />
          </div>
          <h5>Select Bedroom Furniture</h5>
        </div>

        <div>
          <div class="LTD">
            <img
              src="https://ak1.ostkcdn.com/img/mxc/01102022_HB_INTL_5.svg?imwidth=3840"
              alt=""
              width="100%"
            />
          </div>
          <h5>Select Bedding & Bath</h5>
        </div>

        <div>
          <div class="LTD">
            <img
              src="https://ak1.ostkcdn.com/img/mxc/01102022_HB_INTL_6.svg?imwidth=3840"
              alt=""
              width="100%"
            />
          </div>
          <h5>Select Home Decor</h5>
        </div>
      </div>
      <!-- ------------------Bright------------------ -->

      <div id="Bright">
        <img src="bright.png" alt="" width="96%" />
      </div>

      <!-----------------------Fresh Finds-------------------------->
      <h2 class="Heads">Fresh Finds In Each Category</h2>
      <div id="FreshFinds">
        <div>
          <img
            src="https://ak1.ostkcdn.com/img/mxc/11192021-CatSilo-Furniture.png?imwidth=3840"
            alt=""
            width="100%"
          />
          <p>Furniture</p>
        </div>
        <div>
          <img
            src="https://ak1.ostkcdn.com/img/mxc/11152021-CatSilo-AreaRugs.png?imwidth=3840"
            alt=""
            width="100%"
          />
          <p>Area Rugs</p>
        </div>
        <div>
          <img
            src="https://ak1.ostkcdn.com/img/mxc/11152021-CatSilo-BedBath.png?imwidth=3840"
            alt=""
            width="100%"
          />
          <p>Bed & Bath</p>
        </div>
        <div>
          <img
            src="https://ak1.ostkcdn.com/img/mxc/11152021-CatSilo-Decor.png?imwidth=3840"
            alt=""
            width="100%"
          />
          <p>Home Decor</p>
        </div>
        <div>
          <img
            src="https://ak1.ostkcdn.com/img/mxc/CatSilo-Window-040721.jpg?imwidth=3840"
            alt=""
            width="100%"
          />
          <p>Window Treatments</p>
        </div>
        <div>
          <img
            src="https://ak1.ostkcdn.com/img/mxc/11152021-CatSilo-Kitchen.png?imwidth=3840"
            alt=""
            width="100%"
          />
          <p>Kitchen</p>
        </div>
        <div>
          <img
            src="https://ak1.ostkcdn.com/img/mxc/11192021-CatSilo-Outdoor.png?imwidth=3840"
            alt=""
            width="100%"
          />
          <p>Outdoor</p>
        </div>
        <div>
          <img
            src="https://ak1.ostkcdn.com/img/mxc/01112021-CatSilo-HomeImp.jpg?imwidth=3840"
            alt=""
            width="100%"
          />
          <p>Home Improvement</p>
        </div>
        <div>
          <img
            src="https://ak1.ostkcdn.com/img/mxc/11152021-CatSilo-Storage.png?imwidth=3840"
            alt=""
            width="100%"
          />
          <p>Storage</p>
        </div>
        <div>
          <img
            src="https://ak1.ostkcdn.com/img/mxc/01112021-CatSilo-Mattresses.jpg?imwidth=3840"
            alt=""
            width="100%"
          />
          <p>Mattresses</p>
        </div>
        <div>
          <img
            src="https://ak1.ostkcdn.com/img/mxc/11152021-CatSilo-Lighting.png?imwidth=3840"
            alt=""
            width="100%"
          />
          <p>Lighting</p>
        </div>
        <div>
          <img
            src="https://ak1.ostkcdn.com/img/mxc/CatSilo-AllDeals-040721.jpg?imwidth=3840"
            alt=""
            width="100%"
          />
          <p>Shop All Deals</p>
        </div>
      </div>
      <!-- -------------------Midstyles----------------------------->
      <h2 class="Heads">We've Got Your Style</h2>
      <div id="Midstyles">
        <a href=""> <img src="MidStyles-1.png" alt="" width="100%" /></a>
        <a href=""> <img src="MidStyles-2.png" alt="" width="100%" /></a>
        <a href=""> <img src="MidStyles-3.png" alt="" width="100%" /></a>
      </div>

      <!---------------------------Trending Searches------------------------>
      <h2 class="Heads">Trending Searches</h2>
      <div id="Ts">
        <div>
          <h4>Home Office Furniture</h4>
        </div>
        <div>
          <h4>Bathroom Furniture</h4>
        </div>
        <div>
          <h4>Patio Furniture</h4>
        </div>
        <div>
          <h4>Dining Room Furniture</h4>
        </div>
        <div>
          <h4>Bedroom Furniture</h4>
        </div>
        <div>
          <h4>Living Room Furniture</h4>
        </div>
        <div>
          <h4>Dressers</h4>
        </div>
        <div>
          <h4>Sectionals</h4>
        </div>
        <div>
          <h4>Nightstands</h4>
        </div>
        <div>
          <h4>Bar Stools</h4>
        </div>
        <div>
          <h4>Computer Desks</h4>
        </div>
        <div>
          <h4>Rugs</h4>
        </div>
      </div>

      <!-- -----------------------------------Overstock features brands-------------------------- -->
      <h2 class="Heads">Overstock Featured Brands</h2>
      <div id="FB">
        <div>
          <a href=""> <img src="OFB1.png" alt="" width="100%" /></a>
        </div>
        <div>
          <a href=""> <img src="OFB2.png" alt="" width="100%" /></a>
        </div>
        <div>
          <a href=""> <img src="OFB3.png" alt="" width="100%" /></a>
        </div>
        <div>
          <a href=""> <img src="OFB4.png" alt="" width="100%" /></a>
        </div>
      </div>
      <!----------------------Footer ----------------------->

      <div id="Footer">
     
      </div>
    </div>
  </body>
</html>

<script type="module">

 
  import { navigation, Footer } from "./Landing.js";

  let div = (document.getElementById("Navigation").innerHTML = navigation());

  let Fdiv = (document.getElementById("Footer").innerHTML = Footer());

  document.querySelector(".dropbtn").addEventListener("click", function(){
    window.location.href="./furniture.html"
  })
  document.querySelector("#dropbtn2").addEventListener("click", function(){
    window.location.href="./Rugs.html"
  })
  document.querySelector("#dropbtn3").addEventListener("click", function(){
    window.location.href=".decor.html"
  })

  document.querySelector("#H-last-C").addEventListener("click", function(){
    window.location.href="./cartshow.html"
  })

  document.querySelector("#H-last-A").addEventListener("click", function(){
    window.location.href="account.html"
  })


  
//cart
  cartcount()
function cartcount(){
    let totalcart=JSON.parse(localStorage.getItem("cartdata"))
    document.getElementById("p-last").innerHTML=totalcart.length
    console.log(totalcart.length)
    
}

document.querySelector("#home").addEventListener("click", function(){
    window.location.href="./Landing.html"
  })

    //search 
    let search=[]
document.getElementById("search-Icon").addEventListener("click",function(){
let value=document.getElementById("searchbox").value.toLowerCase()
search.push(value)
localStorage.setItem("search",JSON.stringify(search))
window.location.href="./search.html"


})
let username= JSON.parse(localStorage.getItem("username"))
usern(username)
function usern(u){
  document.getElementById("H-username").innerHTML=u[u.length-1]

}

</script>
