<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Landing.css">
   <link rel="stylesheet" href="./product2.css">
</head>
<body>
    <div id="navbar"></div>
    <p id="p1">Furniture / Living Room Furniture</p>
    <h1 id="h11">Living Room Furniture</h1>
    <div id="main">
        <div id="mainleft">
            <a href="./product3.html"><p>Sofas & Couches</p></a> 
            <a href="./product3.html"> <p>Living Room Sets</p></a>
            <a href="./product3.html"> <p>Sectional Sofas</p></a>
            <a href="./product3.html"><p>TV Stands</p></a> 
            <a href="./product3.html"><p>Coffee & End Tables</p></a> 
            <a href="./product3.html"><p>Recreation Room</p></a> 
            <a href="./product3.html"><p>Recliner Chairs </p></a> 
            <a href="./product3.html"> <h2 id="mh22">Shop All Living Room Furniture on Sale</h2></a>

        </div>
        <div id="mainright">
            <img src="https://ak1.ostkcdn.com/img/mxc/12202021_2022Winter_LRFurn_AMOD.jpg?imwidth=1200&amp;impolicy=custom" alt="">
            <div id="div1">
                <div id="div2">
                   <p>extra</p>
                <span>15% </span>
                <p>Off Selection Living Room Furniture</p>
                <div>Show Now</div>
                </div>
            </div>
        </div>
    </div>
    <h2 id="h21">Shop By Category</h2>
    <div id="container">

       <a href="./product3.html">
           <img src="https://ak1.ostkcdn.com/images/products/is/images/direct/da8e341a52b0b4168f5531527177130eec875ca8/Carson-Carrington-Odhult-Tufted-Contemporary-Tuxedo-Sofa.jpg?imWidth=320&impolicy=medium" alt="">
           <p>   Sofas & Couches
                            <div>Sale</div>                                
           </p>
       
       </a>
       <a href="./product3.html">
        <img src="https://ak1.ostkcdn.com/images/products/22341232/Candace-Mid-Century-Modern-Fabric-Arm-Chair-and-Loveseat-Set-by-Christopher-Knight-Home-087d71b4-c7d8-4352-b7f5-ac19c5a60ce2_1000.jpg?imWidth=320&impolicy=medium" alt="">
        <p>Living Room Sets</p>
<div>Sale</div>                                
    </a>
    <a href="./product3.html">
        <img src="https://ak1.ostkcdn.com/images/products/24151999/Welles-Mid-Century-2-Piece-Chaise-Sectional-Sofa-Set-With-Tufted-by-Christopher-Knight-Home-62f39e28-0a20-4594-8815-be5fb283c2b1_1000.jpg?imWidth=320&impolicy=medium" alt="">
        <p>Sectional Sofas</p>
<div>Sale</div>                                
    </a>
    <a href="./product3.html">
        <img src="https://ak1.ostkcdn.com/images/products/is/images/direct/cc3e23e59b0b7275ff6cb732d7c2d7f6f18df9e9/The-Grey-Barn-70%22-Rustic-Fireplace-TV-Stand-Console.jpg?imWidth=320&impolicy=medium" alt="">
        <p>TV Stands & Entertainment Centers</p>
<div>Sale</div>                                
    </a>
    <a href="./product3.html">
        <img src="https://ak1.ostkcdn.com/images/products/is/images/direct/2c822047c6482dd072478dac0a517f7fd4ba74f2/Berwick-Metal-and-Wood-Nesting-Basket-Tables.jpg?imWidth=320&impolicy=medium" alt="">
        <p>Console, Coffee & End Tables</p>
<div>Sale</div>                                
    </a>
    <a href="./product3.html">
        <img src="https://ak1.ostkcdn.com/images/products/is/images/direct/f7e4607f8a2129ab4b1ab22cd1769a61b681c3db/Abbyson-Holloway-Mid-century-Top-Grain-Leather-Pushback-Recliner.jpg?imWidth=320&impolicy=medium" alt="">
        <p>Recliner Chairs & Rocking Recliners</p>
<div>Sale</div>                                
    </a>
    </div>

    <h2 id="h22">Top Trending</h2>
    <div id="container">
    
       <a href="./product3.html">
           <img src="https://ak1.ostkcdn.com/images/products/is/images/direct/dfd768dd6f5ec2fc877af8695096a5ff4e9942e4/Copper-Grove-Dhi-Upholstered-Armchair.jpg?imWidth=320&impolicy=medium" alt="">
           <p>Living Room Chairs</p>
            <div>Sale</div>                                
       </a>
       <a href="./product3.html">
        <img src="https://ak1.ostkcdn.com/images/products/14741699/Christopher-Knight-Home-Yuny-Round-Fabric-Ottoman-Pouf-43157217-9e91-49f5-9440-a293f5a47a18_1000.jpg?imWidth=320&impolicy=medium" alt="">
        <p>Ottomans & Storage Ottomans</p>
<div>Sale</div>                                
    </a>
    <a href="./product3.html">
        <img src="https://ak1.ostkcdn.com/images/products/is/images/direct/a32ab49e9155e1abe7a5903331149853a3e02c18/Carson-Carrington-Hedeby-Upholstered-Fabric-Loveseat.jpg?imWidth=320&impolicy=medium" alt="">
        <p>Loveseats</p>
<div>Sale</div>                                
    </a>
    <a href="./product3.html">
        <img src="https://ak1.ostkcdn.com/images/products/is/images/direct/0485073b17812f0a60e7686583f28e805f0aeac8/Ramses-Modern-Grey-Bookcase-Display-Cabinet.jpg?imWidth=320&impolicy=medium" alt="">
        <p> Bookshelves & Bookcases</p>
                <div>Sale</div>                                
    </a>
    <a href="./product3.html">
        <img src="https://ak1.ostkcdn.com/images/products/is/images/direct/b6158f17126c52bc350f84c94db20fa716543fce/Abbyson-Carson-Mid-century-Tufted-Convertible-Futon-Sleeper-Sofa.jpg?imWidth=320&impolicy=medium" alt="">
        <p>Futons</p>
<div>Sale</div>                                
    </a>
    <a href="./product3.html">
        <img src="https://ak1.ostkcdn.com/images/products/is/images/direct/bf33b0970649fedab76cbe0913b1911ddc4ea7f6/Morgan-Creek-Antique-White-Storage-Hall-Bench.jpg?imWidth=320&impolicy=medium" alt="">
        <p>Benches & Settees</p>
<div>Sale</div>                                
    </a>
    </div>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <div id="footer"></div>
</body>
</html>
<script type="module">
    import { navigation, Footer } from "./Landing.js"

let l=navigation()
document.getElementById("navbar").innerHTML=l
let f=Footer()
document.getElementById("footer").innerHTML=f

document.querySelector(".dropbtn").addEventListener("click", function(){
    window.location.href="./furniture.html"
  })
  document.querySelector("#dropbtn2").addEventListener("click", function(){
    window.location.href="./Rugs.html"
  })
  document.querySelector("#dropbtn3").addEventListener("click", function(){
    window.location.href="./decor.html"
  })




cartcount()
function cartcount(){
    let totalcart=JSON.parse(localStorage.getItem("cartdata"))
    document.getElementById("p-last").innerHTML=totalcart.length
    console.log(totalcart.length)
    
}

document.querySelector("#home").addEventListener("click", function(){
    window.location.href="./index.html"
  })

    //search 
    let search=[]
document.getElementById("search-Icon").addEventListener("click",function(){
let value=document.getElementById("searchbox").value.toLowerCase()
search.push(value)
localStorage.setItem("search",JSON.stringify(search))
window.location.href="./search.html"


})

document.querySelector("#H-last-A").addEventListener("click", function(){
    window.location.href="./account.html"
  })

  let username= JSON.parse(localStorage.getItem("username"))
usern(username)
function usern(u){
  document.getElementById("H-username").innerHTML=u[u.length-1]

}


</script>